@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "VT323";
    src: url("/fonts/VT323-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-body;
  }

  h1,
  h2,
  h3,
  p,
  span,
  li,
  button {
    @apply font-body;
    @apply text-white;
  }
}

@layer utilities {
  .card {
    @apply bg-bg;
    @apply border-4;
    @apply border-border;
    @apply bg-opacity-90;
    @apply border-opacity-90;
  }

  .scrollbar {
    @apply scrollbar-thin;
    @apply scrollbar-track-bg;
    @apply scrollbar-thumb-borderDark;
  }
}
